---
layout: default
---

<main class="content" role="main">

  <header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <div id="search">
    <form role="search" method="get" action="http://artslab.info/search/">
      <input id="searchString" name="searchString" placeholder="Поиск по сайту" type="text" />
      <input id="searchButton" name="googleSearchName" type="submit" value="Искать" />
    </form>
  </div>

  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date: "%F %R" }}">{% include date.html date=post.date %}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <aside id="sidebar">

    <a href="http://artslab.info/stati/kak-oformit-gruppu-vkontakte/"><img src="/assets/images/sidebar/menu_dlya_vk1.jpg" alt="как сделать меню для вконтакте" /></a>

    <a href="http://artslab.info/podborki/onlayn-redaktoryi-fotografiy/"><img src="/assets/images/sidebar/web-editors.jpg" alt="" width="300" height="138" /></a>

    <a href="http://artslab.info/vse-dlya-google-chrome/10-luchshih-tem-dlya-google-chrome/"><img src="/assets/images/sidebar/chrome_themes.jpg" alt="" width="300" height="138" /></a>

    <a href="http://artslab.info/shriftyi/russkie-pikselnyie-shriftyi/"><img src="/assets/images/sidebar/pixel_art_fonts.jpg" alt="" width="300" height="138" /></a>

    <a href="http://artslab.info/onlayn-servisyi/pixlr-o-matic-dobavlyaem-retro-effekty-k-fotografiyam/"><img src="/assets/images/sidebar/retro_filters.jpg" alt="" width="300" height="138" /></a>

    <a href="http://artslab.info/vse-dlya-google-chrome/proxtube-dopolnenie-dlya-prosmotra-nedostupnyx-video-na-youtube/"><img src="/assets/images/sidebar/blocked_youtube.jpg" alt="" width="300" height="138" /></a>

    <a href="http://artslab.info/ishodniki-psd/10-psd-fajlov-s-audiopleerami/"><img src="/assets/images/sidebar/audio_psd_files.jpg" alt="" width="300" height="138" /></a>

  </aside>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Назад</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Назад</a>
    {% endif %}
    <span class="page-number">Страница {{ paginator.page }} из {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Вперед &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Вперед &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Вперед &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}