{% if page.amp != true %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-511557-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-511557-1');
  </script>

{% else %}

<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "<UA-511557-1>",
      "config" : {
        "<UA-511557-1>": { "groups": "default" }
      }
    }
  }
  </script>
</amp-analytics>

{% endif %}