<!DOCTYPE html>
<html ⚡ lang="ru">
  {% include head.html %}
  <body>
    <amp-analytics id="analytics_liveinternet">
      <script type="application/json">
        {
          "requests": {
            "pageview": "https://counter.yadro.ru/hit?u${ampdocUrl};r${documentReferrer};s${screenWidth}*${screenHeight}*32;${random}"
          },
          "triggers": {
            "track pageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>

    {% include header.html %}

    {{ content }}
  </body>
</html>
