<!DOCTYPE html>
<html ⚡ lang="ru">
  {% include head.html %}
  <body>
    <amp-analytics id="analytics_liveinternet">
      <script type="application/json">
        {
          "requests": {
            "pageview": "https://counter.yadro.ru/hit?u${ampdocUrl};r${documentReferrer};s${screenWidth}*${screenHeight}*32;${random}"
          },
          "triggers": {
            "track pageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>

    {% if page.amp == true %}
      <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
        {
          "vars" : {
            "gtag_id": "<UA-511557-1>",
            "config" : {
              "<UA-511557-1>": { "groups": "default" }
            }
          }
        }
        </script>
      </amp-analytics>
    {% endif %}

    {% include header.html %}

    {{ content }}
  </body>
</html>
